body {
color: #fff;
}
.weather {
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 90%;
  max-width: 470px;
  text-align: center;
  margin: 100px auto 0;
  padding: 10px;
  border-radius: 10px;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchBox {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}
#submit {
  padding: 6.1px;
  border: none;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.weather-box {
  line-height: 3em;
}
.weather-detials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}
#description {
  font-size: 20px;
}
.col {
display: flex;
align-items: center;
padding: 5px;
font-size: 17px;
}
.col img {
  margin-right: 9px;
}

